html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='./stylesheets/stile.css')
    script(src='./javascripts/bootstrap.bundle.js')
    script(src='./javascripts/bootstrap.esm.js')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    title title 
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light(style="font-family: 'Tahoma', 'Trebuchet MS' ")
      .container-fluid
        a.logo.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href='/')
          img(src='./images/logo.png' style='width:40px;')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0(style='padding-top:10px; padding-left:10px')
                li
                  a#home.acti.nav-link.px-2(href='/' style='color: rgb(46, 50, 56)') HOME
            li.nav-item
              ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0(style='padding-top:10px; padding-left:10px')
                li
                  a#search.acti.nav-link.px-2(href='/search' style='color: rgb(46, 50, 56)') SEARCH
            li.nav-item
              ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0(style='padding-top:10px; padding-left:10px')
                li
                  a#mybooks.acti.nav-link.px-2(href='/mybook' style='color: rgb(46, 50, 56)') MY BOOKS
          form.d-flex

    h1(style='padding-top:45px; padding-left:45px')=  titolo
    #recensioni.row
      .col
       h4 Stelle
      .col
        h4 Commento
      .col
        h4 Email

    script.
      var file = !{file};
      for(i=0;i<file.total_rows;i++){
        var email = file.rows[i].value[0];
        var stelle = file.rows[i].value[1];
        var commento = file.rows[i].value[2];
        document.write(`
        <div class = "row" id ="recensioni">
          <div class ="col">
            <h4>`+stelle+`</h4>
        </div>
          <div class="col">
            <h4>`+commento+`</h4>
        </div>
          <div class="col">
            <h4>`+email+`</h4> 
        </div>
        </div>
        `)
      }
    
