
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./stylesheets/bootstrap.min.css')
  link(rel='stylesheet' href='./stylesheets/stile.css')
  script(type="module" src='./javascripts/bootstrap.bundle.js')
  script(type="module" src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(type="module" src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  script(type="module" src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script( type="module" src='./javascripts/renderbooks.js')
  title Book Master

nav.navbar.navbar-expand-lg.navbar-light.bg-light(style="font-family: 'Tahoma', 'Trebuchet MS' ")
  .container-fluid
    a.logo.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href='/')
      img(src='./images/logo.png' style='width:40px;')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0(style='padding-top:10px; padding-left:10px')
            li
              a#home.acti.nav-link.px-2(href='/' style='color: rgb(46, 50, 56)') HOME
        li.nav-item
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0(style='padding-top:10px; padding-left:10px')
            li
              a#search.acti.nav-link.px-2(href='/search' style='color: rgb(46, 50, 56)') SEARCH
        li.nav-item
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0(style='padding-top:10px; padding-left:10px')
            li
              a#mybooks.acti.nav-link.px-2(href='/mybook' style='color: rgb(46, 50, 56)') MY BOOKS
        if !(line== '"false"' || line== null)
          li.nav-item
            ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0(style='padding-top:10px; padding-left:10px')
              li
                a#mybooks.acti.nav-link.px-2(href='/logout' style='color: rgb(46, 50, 56)') LOGOUT
      form.d-flex
if line== '"false"' || line== null
  a.login-with-google-btn(href=url type='button')
    | Sign in with Google
else
  form(method='get' action="" style="text-align:center; margin-top:10px")
    label(for='scaffali' style="color:white; margin-bottom:10px") Scegli uno scaffale:
    br
    select#scaffali.btn.btn-dropdown.dropdown-toggle(name='scaffale' style=" background-color:white; height:40px")
      option(value='da_leggere') Da Leggere
      option(value='preferiti') Preferiti
      option(value='letti') Letti
    input(type='submit' style=" z-index:10;margin-left:10px; height:40px")
  script.
    var file = !{file};
    document.write(file.totalItems);
    document.write("<br>");
    document.write('<div class="container">');
    for(var i=0;i<file.totalItems;i++){
      title = file.items[i].volumeInfo.title;
      pagine = file.items[i].volumeInfo.pageCount;
      foto = file.items[i].volumeInfo.imageLinks.smallThumbnail;
      document.write(`
      <div class="row" style="padding-top:200px;">
      <div class="col">
      <img src="` + foto +`" style="position: relative;top: 25%;left: 36%;scale: 150%;">
      </div>
      <div class="col" style="text-align: center;">
      <div class="row">
      <div class="col">
      <h1 style="position: relative;padding:20px">`+title+`</h1>
      </div>
      </div>
      <div class="row">
      <div class="col">
      <p style="color:white; position: relative;">Numero di pagine `+pagine+`</p>
      </div>
      </div>
      <div class="row">
      <div class="col">
      <form action"/rimuovi" method="get">
      <input type="hidden" name="titolo" value=`+title+`/>
      <input type="hidden" name="num_pagine" value= `+pagine+`/>
      <input type="submit" value="Rimuovi">
      <form action"/inizia_a_leggere" method="get">
      <input type="hidden" name="titolo" value=`+title+`/>
      <input type="hidden" name="num_pagine" value= `+pagine+` />
      <input type="submit" value="Inizia a leggere">
      <form action"/letto" method="get">
      <input type="hidden" name="titolo" value=`+title+` />
      <input type="hidden" name="num_pagine" value= `+pagine+` />
      <input type="submit" value="Contrassegna come letto">

      </div>
      </div>
      </div>
      </div>
      `);
      /*
      numero_giorni =Math.floor(pagine/15);
      resto = pagine % 15;
      if(resto) numero_giorni ++;
      document.write(numero_giorni);
      document.write(resto);
      */
    }
    document.write('</div>');




